body,
.container-pd {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0px;
  /* Font styles */
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #607D8B;
  letter-spacing: .01em;
}

.container-pd {
  position: relative;
}

/* Panels */
.swipe {
  position: relative;
  width: 100%;
  height: 100%; /* "min-height" doesn't work on Firefox. */
  background: #eee;
  overflow-x: hidden;
}

.panel {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  padding: 0px;
}

.panel img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.img-pd{
    position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  padding: 0px;
}

.left {
  left: -100%;
}

.right {
  left: 100%;
}

/* Info */
.info {
  position: absolute;
  width: 80%;
  max-width: 500px;
  bottom: 20%;
  right: 10%;
  pointer-events: none;
}

.inner {
  position: relative;
  padding: 1.66em 3em;
  background: #FFFFFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    opacity: 0.5;
}

.inner p{
  font-weight: bold;
  z-index: 10;
}

.inner h3{
  font-weight: bold;
  z-index: 10;
}




.buttons {
  position: absolute;
  bottom: -50px;
  right: 5%;
  pointer-events: all;

}

.buttons button {
  transition: ease .4s;
}

.btn-prev,
.btn-next {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 60px;
  color: #FFFFFF;
  background: -webkit-linear-gradient(top, #0d193a, #0d193a);
  background: linear-gradient(to bottom, #0d193a, #0d193a);
  box-shadow: 0px 3px 15px 2px rgb(13,25,58);
  cursor: pointer;
}

.buttons button:hover {
  box-shadow: 0px 3px 30px 3px rgb(13,25,58);
}

.buttons button:disabled {
  box-shadow: 0px 1px 5px 0px rgb(13,25,58);
  background: -webkit-linear-gradient(top, #0d193a, #0d193a);
  background: linear-gradient(to bottom, #0d193a, #0d193a);
  cursor: default;
}

/* Optional content */
.optional {
  width: 80%;
  max-width: 680px;
  margin: 6em auto;
  padding: 2em 3em;
  box-shadow: 
    0 3px 12px rgba(0,0,0,0.16), 
    0 3px 12px rgba(0,0,0,0.23);
}

@media (max-width: 620px) {
  body {
    font-size: 13px;
    line-height: 1.5em;
  }
  .info {
    position: absolute;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    right: 0;
  }
  .inner {
    padding: .5em 1.5em;
    box-shadow: none;
  }
  
  .buttons {
  position: absolute;
  bottom: 130px;
  left:5%;
  pointer-events: all; 
  }

.btn-prev,
.btn-next {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 60px;
  color: #FFFFFF;
  background: -webkit-linear-gradient(top, #0d193a, #0d193a);
  background: linear-gradient(to bottom, #0d193a, #0d193a);
  box-shadow: 0px 3px 15px 2px rgb(13,25,58);
  cursor: pointer;
}
.panel{
  position: absolute;
  width: 100%;
  min-height: 100%;

}
.panel img{
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: ;
}


}